{% extends 'base.html.twig' %}

{% block title %}Guestbook{% endblock %}

{% block body %}
    <div class="flex items-center justify-center min-h-screen">
        <img src="/images/under-construction.gif" alt="Under Construction">
    </div>
{% endblock %}
